<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysl.calendar.main.repository.mybatis.CategoryMapper">
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into cal_category (name, color, create_user)
        values (#{name}, #{color}, #{create_user})
    </insert>

    <select id="selectAll" parameterType="String" resultType="com.ysl.calendar.domain.categories.CalendarCategory">
        select * from cal_category where create_user = #{createUser}
    </select>

    <select id="select" parameterType="long" resultType="com.ysl.calendar.domain.categories.CalendarCategory">
        select * from cal_category where id = #{id}
    </select>

    <delete id="deleteByKey" parameterType="long">
        delete from cal_category where id = #{id}
    </delete>

</mapper>